.sidebar {
  position: fixed;
  background-color: var(--purple);
  height: 100vh;
  flex: 1;
}
.sidebar-title {
  font-size: 1.4rem;
  color: var(--white);
  padding: 1rem;
  text-align: right;
  border-bottom: 0.15rem solid #e1bee7;
}
.sidebar-links {
  margin-top: 1.4rem;
}
.sidebar-links__item {
  position: relative;
  padding: 1rem;
}
.sidebar-links li:first-child {
  margin-bottom: 1.4rem;
}
.sidebar-links__item {
  width: 100%;
  text-decoration: none;
  color: var(--white);
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.3rem;
}
.sidebar-links__item:hover {
  color: #4a148c;
}
.sidebar-links__item.active {
  background-color: #4a148c;
}
.sidebar-links__icon {
  margin-left: 0.5rem;
}
