html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  margin-right: 15rem;
  margin-left: 1.6rem;
  flex: 4;
}
