.edit-modal-form {
  background-color: var(--white);
  padding: 1.8rem;
  text-align: center;
  width: 27rem;
}
.edit-modal-form h1 {
  font-size: 1.4rem;
}
.edit-form-submit {
  margin-top: 1.4rem;
  width: 100%;
  padding: 0.5rem 0.7rem;
  color: var(--white);
  background-color: var(--purple);
  border: none;
  border-radius: 0.6rem;
  font-size: 1.1rem;
}
